html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
button,
p {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#root {
    height: 100vh;
}
.container {
    margin: 0 auto;
    width: 300px;
    padding-top: 100px;
}
.container h1 {
    text-align: center;
    margin-bottom: 25px;
    color: rgb(13, 162, 188);
}
.game-info {
    text-align: center;
}
.moves-counter {
    font-size: 28px;
}
.square {
    width: 62px;
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: beige;
    color: rgba(85, 61, 26, 0.61);
    font-weight: 700;
    cursor: pointer;
}
.square:hover {
    border: solid rgba(146, 146, 130, 0.664) 1px;
    width: 60px;
    padding-top: 21px;
    padding-bottom: 21px;
}
.inner-container {
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.board-row {
    display: flex;
    justify-content: space-between;
}
#pregame {
    margin: auto;
    width: 500px;
    text-align: center;
    position: relative;
    top: 20%;
}
